@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap");

body {
  margin: 0;
  line-height: normal;
}
:root {
  /* Color */
  --color-darkslategray: #27313c;
  --color-aliceblue: #e6eff3;
  --color-mediumslateblue-200: rgba(92, 103, 247, 0.15);
  --color-mediumslateblue-100: #5c67f7;
  --color-salmon-200: rgba(255, 142, 111, 0.15);
  --color-salmon-100: #ff8e6f;
  --color-darkorchid: #9e5cf7;
  --color-white: #fff;

  /* Gap */
  --gap-20: 1.25rem;

  /* Padding */
  --padding-32: 2rem;
  --padding-15: 0.937rem;
  --padding-20: 1.25rem;

  /* BorderRadius */
  --br-10: 10px;

  /* Font */
  --font-poppins: Poppins;

  /* FontSize */
  --font-size-24: 1.5rem;
}
