.planlananDevlerIcon {
  width: 2.938rem;
  height: 2.938rem;
  position: relative;
  border-radius: 122.5px;
}
.uyumluGvenliVe {
  margin: 0;
  position: relative;
  font-size: inherit;
  font-weight: 600;
  font-family: inherit;
}
.uyumluGvenliVeModernWrapper {
  justify-content: flex-start;
}
.component38,
.planlananDevlerParent,
.uyumluGvenliVeModernWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.planlananDevlerParent {
  align-self: stretch;
  justify-content: flex-start;
  gap: var(--gap-20);
}
.component38 {
  width: 24.125rem;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: var(--br-10);
  background-color: var(--color-mediumslateblue-200);
  justify-content: center;
  padding: var(--padding-15) 0;
  box-sizing: border-box;
  text-align: left;
  font-size: var(--font-size-24);
  color: var(--color-mediumslateblue-100);
  font-family: var(--font-poppins);
}
@media screen and (max-width: 1200px) {
  .uyumluGvenliVe {
    display: none;
  }
}
