/*!**********************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[5].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[5].use[3]!./components/dashboard-slider.module.css ***!
  \**********************************************************************************************************************************************************************************************************************************************************************************/
.dashboard-slider_sliderContainer__iAQTu {
  width: 100%;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  -webkit-overflow-scrolling: touch;
  scrollbar-width: none;
}
.dashboard-slider_sliderContainer__iAQTu::-webkit-scrollbar {
  display: none;
}
.dashboard-slider_slider__8gdxy {
  display: flex;
  gap: 1rem;
  padding: 0 50%;
  scroll-padding: 0 50%;
}
.dashboard-slider_slide__l6WXj {
  flex: 0 0 auto;
  scroll-snap-align: center;
}
@media (max-width: 768px) {
  .dashboard-slider_slider__8gdxy {
    padding: 0 5%;
    scroll-padding: 0 5%;
  }
}

